@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
}


/* shared styles */
.btn-primary {
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.25rem;
}

/* header  */
/* nav bar  */
header {
    background: rgba(255, 144, 14, 0.1);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
.nav-links {
    display: flex;
    gap: 3rem;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.1rem;
    font-weight: 500;
}
.brand-name {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
}
.banner,.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner  */
.banner-contant {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}
.banner-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    margin: 5rem 0 1.5rem 0;
}
.banner-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}
.banner-btn {
    margin: 32px 0 50px 0;
}
.banner-img {
    width: 100%;
}

/* main section  */
main {
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
.teams {
    display: flex;
    align-items: center;
    gap: 70px;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features {
    max-width: 530px;
}
.feature-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
}
#quick-list {
    font-weight: 500;
    color: rgb(114, 114, 114);
}
#features {
    color: rgb(255, 144, 14);
}
.feature-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    margin: 1.5rem 0 2rem 0;
}

/* features section  */
.features {
    display: flex;
    gap: 8rem;
    align-items: center;
}
.features-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 1.25rem;
}
.features-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    margin: 1.5rem 0 3rem 0;
}
.feature-card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
}
.features-title-down {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
}
.features-description-down {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    margin-top: 10px;
}
.features-btn {
    padding: 3rem;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    margin-left: -92px;
    margin-top: -100px;
}
.features-btn-1 {
    color: rgb(255, 255, 255);;
    font-weight: 700;
    font-size: 4rem;
}
.features-btn-2 {
    color: rgb(255, 255, 255);;
    font-weight: 500;
    font-size: 1.5rem;
}
.feature-architech img {
    width: 100%;
}

/* facts section  */
.facts {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    height: 240px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.facts-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8rem;
}
.facts-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
}
.facts-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    max-width: 540px;
    margin: 1.5rem 0 6.25rem;
}
.facts-number {
    color: rgb(66, 66, 66);
    font-size: 3rem;
    font-weight: 600;
    margin: 10px 0 5px 0;
}
.fact-name {
    color: rgb(114, 114, 114);
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponsor section  */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.sponsor-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
}
.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    filter: grayscale(100%);
}

/* footer  */
footer p{
    text-align: center;
    border-radius: 8px;
    background-color: rgb(255, 244, 231);
    color: rgb(66, 66, 66);
    font-size: 1.25rem;
    max-width: 1440px;
    padding: 40px 410px;
    margin: 130px auto;
}

/* responsive */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .features {
        flex-direction: column; 
    }
    .navbar,
    .nav-links {
        gap: 20px;
    }
    .team-img-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .our-features {
        padding: 20px;
    }
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(1,1fr);
        gap: 3rem;
        justify-items: center;
    }
    .features-btn {
        margin: 20px 0 20px 30px;
        padding: 1rem;
    }
    .features-btn-1 {
        font-size: 2rem;
    }
    .features-btn-2 {
        font-size: 1rem;
    }
}


@media screen and (min-width:576.1px) and (max-width:992px) {
    .teams,
    .features {
        flex-direction: column; 
    }
    .our-features {
        padding: 30px;
    }
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
        justify-items: center;
    }
    .features-btn {
        margin: -50px 0 20px 30px;
        padding: 1rem;
    }
}